/* Blocks on Journal pages */
.block-properties {
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Block reference number counter */
.open-block-ref-link {
  font-weight: bold;
  color: var(--ls-tag-text-color,#045591);
}



/* Slip-Box Components */
a[data-ref="slip-box 📦/relnotes"] {
  font-weight: bold;
  color: #BF3F3F;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="slip-box 📦/permnotes"] {
  font-weight: bold;
  color: #8C087D;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="slip-box 📦/refnotes"] {
  font-weight: bold;
  color: #888C16;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="slip-box 📦/litnotes"] {
  font-weight: bold;
  color: #439FD9;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="slip-box 📦/fleetnotes"] {
  font-weight: bold;
  color: #359911;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* Journals */
a[data-ref="journal 📔/relnotes"] {
  font-weight: bold;
  color: #BF3F3F;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="journal 📔/permnotes"] {
  font-weight: bold;
  color: #8C087D;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="journal 📔/fleetnotes"] {
  font-weight: bold;
  color: #359911;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* Therapy */
a[data-ref="therapy 🤯/relnotes"] {
  font-weight: bold;
  color: #BF3F3F;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="therapy 🤯/permnotes"] {
  font-weight: bold;
  color: #8C087D;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a[data-ref="therapy 🤯/fleetnotes"] {
  font-weight: bold;
  color: #359911;
  background-color: #fff;
  padding: 0px 6px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
